<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>334880261235-kn6pq3kua12rf2h1le143k6m9vrmovpn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334880261235-kn6pq3kua12rf2h1le143k6m9vrmovpn</string>
	<key>API_KEY</key>
	<string>AIzaSyAW8ellalhPONBOMQqRWaEnaqLjipSAp68</string>
	<key>GCM_SENDER_ID</key>
	<string>334880261235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kalyan-company.MyOwnFitnessAPP</string>
	<key>PROJECT_ID</key>
	<string>my-own-fitnessapp</string>
	<key>STORAGE_BUCKET</key>
	<string>my-own-fitnessapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334880261235:ios:0e3fac40b1227da3ee9606</string>
</dict>
</plist>