<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.334880261235-kn6pq3kua12rf2h1le143k6m9vrmovpn</string>
            </array>
        </dict>
    </array>
    <key>GIDClientID</key>
    <string>334880261235-kn6pq3kua12rf2h1le143k6m9vrmovpn.apps.googleusercontent.com</string>
</dict>
</plist>
